DATABASE_URL=postgresql://jaunedoe:azerty@db:5432/rgbast
POSTGRES_USER=jaunedoe
POSTGRES_PASSWORD=azerty
POSTGRES_DB=rgbast
SECRET_KEY=hello
FRONTEND_URL=http://localhost:5173
BACKEND_PUBLIC_URL=http://localhost:8000
SMTP_ENABLED=true
SMTP_HOST=smtp.ionos.fr
SMTP_PORT=465
SMTP_USE_SSL=true
SMTP_USERNAME=mail@mail.mail
SMTP_PASSWORD=mot2pas
SMTP_FROM=support@rgbast.com
